@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.bg-ui-main-500 {
  background-color: #7159ff;
}

.text-ui-main-500 {
  color: #7159ff;
}

.bg-brand-ui-primary {
  background-color: rgb(113 89 255 / var(--tw-bg-opacity));
}

.bg-authenticated {
  background-color: lemonchiffon;
  opacity: 1;
}
